@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

.fp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #e8ecf6 26%, #bec8fc 52%, #bec8fc 61%, #c2aefd 100%);
    padding-top: 50px;
  }
  
  .fp-logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    width: 384;
    height: 83px;
    margin-left: 10px;
    margin-top: 30px;
    font-weight: bold;
  }
  
  .fp-logo-img {
    width: 121px;
    height: 121px;
    margin-left: 50px;
    margin-top: 0;
  }
  
  .fp-brand-text {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(to right, #326BF6 9%, #90CAF9 21%, #90CAF9 42%, #A3A8F9 58%, #C2AEFD 76% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -30px;
    padding: 0;
    line-height: 0.8;
  }
  
  .fp-sub-text {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 4px;
    background: linear-gradient(to right, #2D9CF4 0%, #90CAF9 49% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 0;
    padding: 0;
    line-height: 0.8;
  }
  
  .fp-card {
    padding: 40px;
    border-radius: 20px;
    width: 560;
    height: 580;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
  }
  
  .fp-card-title {
    font-size: 36px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 10px;
    color: #243F6A;
  }
  
  .fp-icon {
    position: relative;
    font-size: 80px;
    color: #2F2785;
  }
  
  .fp-icon {
    position: relative;
    font-size: 80px;
    color: #2F2785;
  }
  
  .fp-question-mark {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px; 
    font-weight: bold;
    margin-top: 10px;
  }
  
  .fp-description {
    text-align: center;
    color: #243F6A;
    margin-bottom: 40px;
    width: 308px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .fp-input-group {
    margin-bottom: 20px;
  }
  
  .fp-input-label {
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    color: #2F2785;
    margin-bottom: 5px;
    display: block;
  }
  
  .fp-input-field {
    width: 100%;
    border: 1px solid #F5F5F5;
    border-radius: 20px;
    font-size: 16px;
    width: 420px;
    height: 51px;
  }
  
  .fp-confirmation-message {
    font-size: 14px;
    color: #243F6A;;
    text-align: left;
    margin-top: -10px;
  }
  
  .fp-submit-btn-container {
    text-align: center;
  }
  
  .fp-submit-btn {
    background-color: #2F2785;
    color: white;
    padding: 12px 24px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    width: 135px;
    height: 44px;
    text-align: center;
    margin-top: 10px;
  }
  
.fp-submit-btn:hover, .fp-submit-btn:focus {
    background-color: #3730a3;
    outline: none;
    border: none;
}
