.detail-page {
    padding: 40px 60px;
    background: linear-gradient(to left, #dce3ff, #ffffff);
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin-top: 130px;
  }
  
  .back-btn {
    background-color: #1981e4;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 1000px;
  }
  
  .template-title {
    font-size: 28px;
    font-weight: 700;
    color: #2f2785;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 140px;
  }
  
  .template-detail-content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    margin-left: 140px;
  }
  
  .detail-image {
    width: 500px;
    height: 280px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .template-form {
    background: white;
    padding: 20px 70px;
    border-radius: 16px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  .template-form h3 {
    color: #2f2785;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
  }
  
  .template-form textarea {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: none;
    font-family: inherit;
  }
  
  .template-form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .continue-btn {
    margin-top: 20px;
    background-color: #1981e4;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  