@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

.uf-container {
  background: transparent;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-left: 60px;
  margin-top: 130px;
  
}

.uf-wrapper {
  width: 100%;
  max-width: 1920px;
}

.uf-bg {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to right, #E4EAF7 0%, #FEF9F6 35%, #FEF9F6 69%, #E4EAF7 100%);
}

.uf-btn-outline {
  background-color: white;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1.25rem;
  color: #234479;
  padding: 0.75rem 2rem;
  font-family: 'Montserrat';
}

.uf-main {
  padding: 4rem 2.5rem;
}

.uf-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

.uf-step-circles {
  display: flex;
  margin-bottom: 1rem;
}

.uf-line {
  width: 100px;
  height: 4px;
  background-color: #ccc;
  border-radius: 2px;
  align-self: center;
  transition: background-color 0.3s ease;
}

.uf-line.active {
  background-color: #2e2684;
}

.uf-step-circle {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #243f6a;
  background-color: white;
}

.uf-step-circle.active {
  background-color: #2e2684;
}

.uf-step-num {
  font-weight: bold;
  font-size: 32px;
  color: #2e2684;
  font-family: 'Montserrat';
}

.uf-step-circle.active .uf-step-num {
  color: white;
}

.uf-step-labels {
  display: flex;
  gap: 30px;
  margin-top: 0.5rem;
}

.uf-step-label {
  font-family: 'Montserrat';
  width: 131px;
  font-weight: 500;
  font-size: 1.25rem;
  color: black;
  text-align: center;
}

.uf-title {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 48px;
  color: #2e2684;
  text-align: left;
}

.uf-subtitle {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  color: #5f6b7e;
  margin-bottom: 18px;
  text-align: left;
  margin-top: -40px;
}

.uf-content {
  display: flex;
  gap: 2.5rem;
}

.uf-upload-box {
  flex: 1;
  background-color: white;
  border: 2px dashed #5f6b7e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 777px;
  height: 585px;
  transition: background-color 0.5s ease;
}

.uf-upload-box.transparent {
  background-color: transparent;
}

.uf-upload-icon {
  width: 212px;
  height: 212px;
  object-fit: cover;
  margin-bottom: 1.25rem;
}

.uf-upload-text {
  font-weight: 500;
  font-size: 2rem;
  color: #5f6b7e;
  text-align: center;
  margin-bottom: 1.5rem;
}

.uf-btn-browse {
  background-color: #2196f3;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 369px;
  height: 61px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 32px;
  color: white;
  border-style: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  padding: 2px 2rem;
}

.uf-btn-browse:hover{
  background-color: #362d92;
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.uf-card {
  width: 447px;
  height: 583px;
  background: linear-gradient(to bottom, #E8ECF7 0%, #FEF9F6 27%);
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 20px;
}

.uf-card-content {
  padding: 1.5rem;
}

.uf-card-title {
  font-weight: bold;
  font-size: 24px;
  color: black;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 24px;
  margin-left: 115px;
  margin-right: 110px;
}

.uf-specs {
  margin-top: 15px;
}

.uf-spec-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.uf-spec-label {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  color: black;
  margin-bottom: 5px;
}

.uf-spec-trigger {
  width: 255px;
  height: 41px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  font-weight: normal;
  font-size: 12px;
  color: black;
}

.uf-payment-section {
  margin-top: 15px;
  margin-left: 70px;
}

.uf-payment-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.uf-payment-label {
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-right: 6.69px;
}

.uf-payment-amount {
  display: flex;
  align-items: center;
}

.uf-payment-icon {
  width: 29px;
  height: 31px;
  object-fit: cover;
}

.uf-payment-value {
  font-weight: 600;
  font-size: 25px;
  color: black;
  margin-right: 70px;
  font-family: 'Montserrat';
}

.uf-confirm-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: -5px;
  margin-top: -20px;
}

.uf-btn-primary {
  background-color: #2196f3;
  border-radius: 20px;
  font-family: 'Montserrat';
  width: 100px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: -20px;
}

.uf-btn-primary:hover{
  background-color: #362d92;
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.uf-file-preview {
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  width: 587px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
}

.uf-preview-title {
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: bold;
  color: #000000;
  position: relative;
  text-align: center;
  margin-top: 5px;
}

.uf-close-preview {
  position: absolute;
  top: -50px;
  right: -155px;
  font-size: 65px;
  color: #000000;
  cursor: pointer;
  font-weight: 100;
  transition: color 0.2s ease;
}

.uf-close-preview:hover {
  color: #2e2684;
}

.uf-accepted-label {
  font-family: 'Montserrat';
  font-size: 14px;
  color: #000000;
  margin-top: 52.71px;
}

.uf-file-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.uf-file-icons img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.uf-progress-bar-wrapper {
  background-color: #90CAF9;
  border-radius: 20px;
  height: 35px;
  width: 437px;
  overflow: hidden;
}

.uf-progress-bar {
  background-color: #1976D2;
  font-family: 'Montserrat';
  height: 35px;
  width: 437px;
  border-radius: 20px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  color: white;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: width 0.4s ease, background-color 0.3s ease;
}
