.detail-page {
  padding: 40px 60px;
  background: linear-gradient(to left, #dce3ff, #ffffff);
  width: 100vw;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin-top: 130px;
}

.back-btn {
  background-color: #1981e4;
  color: white;
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  margin-right: 1000px;
}

.template-title {
  font-size: 28px;
  font-weight: 700;
  color: #2f2785;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 140px;
}

.template-detail-content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  margin-left: 140px;
}

.detail-image {
  width: 500px;
  height: 280px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.template-form-container {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.template-form {
  background: linear-gradient(to right, #e8ecf7, #fef9f6);
  border-radius: 12px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.template-form h3 {
  color: #2f2785;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  margin-top: 0;
}

.template-form textarea {
  width: 100%;
  height: 120px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
  font-family: inherit;
  background-color: white;
  color: black;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.specification-fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 5px;
}

.spec-field {
  display: flex;
  align-items: center;
  gap: 15px;
}

.spec-field label {
  color: #2f2785;
  font-size: 16px;
  font-weight: 600;
  min-width: 140px;
}

.spec-field select,
.spec-field input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  font-family: inherit;
}

.spec-field input {
  min-width: 200px;
}

.turnaround-container {
  display: flex;
  align-items: center;
}

.turnaround-container select {
  display: flex;
  flex: 1;
}

.turnaround-container label {
  color: #2f2785;
  font-size: 24px;
  font-weight: 600;
}

.template-form-container select {
  width: 200px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}

.continue-btn {
  margin-top: 25px;
  background-color: #1981e4;
  color: white;
  font-weight: bold;
  padding: 12px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  align-self: flex-end;
}
