@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

.hero{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 0 30px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 130px;
}
.content{
    text-align: left;
    margin-left: 100px;
  }
  .hero1, .hero2, .hero3, .hero4 {
    font-size: 64px;
    font-weight: 800;
    line-height: 1.2;
  }
  .hero1, .hero4 {
    color: #2f2785;
  }
  .hero2, .hero3{
    color: #326bf6;
  }
  .line3, .line4{
    font-size: 24px;
    font-weight: 400;
    color: #2f2785;
  }
  .upload-btn{
    background-color: #326bf6;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color 0.3s ease;
    margin-top: 15px;
  }
  .upload-btn:active, .upload-btn:focus{
    background-color: white;
    color: #326bf6;	
    outline: #326bf6;
    filter: inner-drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color 0.3s ease;
  }
  .image img{
    width: 770px;
    height: 550px;
    margin: 0 0 0 90px; /* clean margin shorthand */
    display: block;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(227, 242, 253, 0.44);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-box {
    background: linear-gradient(to bottom , #BEC8FC 0%, #ffffff 100%);
    border-radius: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    width: 450px;
    height: 270px;
  }
  
  .modal-box h3 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #2F2785;
  }
  
  .service-btn {
    justify-content: center;
    margin-bottom: 20px;
    width: 310px;
    height: 45px;
    background-color: #2196F3;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    font-size: 24px;
    transition: all 0.3s ease;
    font-family: 'Montserrat';
    text-align: center;
    padding: 2px 2rem;
  }
  
  .service-btn:hover{
    background-color: #362d92;
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .close-btn {
    position: absolute;
    top: -30px;
    right: -55px;
    background: transparent;
    border: none;
    font-size: 64px;
    cursor: pointer;
    font-weight: 100;
    color: #2F2785;
  }
  .close-btn:active{
    border: none;
    outline: none;
  }
  
